* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #1b7ada;
    padding: 1em 0;
    text-align: center;
}
main {
    padding: 2em;
}
section {
    margin-bottom: 2em;
}
h1, h2, h3, h4, h5 {
    color: #0056b3;
}
header h1 {
    color: white;
}
code {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 2px 4px;
}
pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 1em;
    overflow-x: auto;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    width: 80%;
}
footer {
    background-color: #1b7ada;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    right: 0;
    position: relative;
    width: 100%;
}
#back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1b7ada;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0056b3;
}
#back_to_top a{
    text-decoration: none;
    color: white;
}
#back_to_top a:hover{
    background-color: #0056b3;
    cursor: pointer;
}
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f4f4f4;
    border: 3px solid #1b7ada;
    border-top: none;
    padding: 10px 0;
    width: fit-content;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #1b7ada;
    color: white;
    border-radius: 5px;
}
.btn-group {
    text-align: center;
    margin: 20px 0;
}
.btn-group a {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
}
.btn-group a:hover {
    background-color: #0056b3;
}